

<!-- <form action="/lawyers" method="get">
  <input type="text" name="city_name">
  <input type="submit">
</form> -->

    
<h3 class="center-text">Get a list of free and low-cost immigration lawyers in your area!</h3> 
<p class="center-text">Search your city or cities near you for an attorney.</p> 


<div class="container">
  <div class="row">
    <div id="custom-search-input">
      <div class="input-group col-md-12">
        <form action="/lawyers" method="get">
          <input type="text" name="city_name" class="  search-query form-control" placeholder="Enter Your City" autofocus/>
          <span class="input-group-btn">
          <button class="btn btn-danger" type= "" type="button">
          <span class=" glyphicon glyphicon-search"></span>
          </button>
           </span>
        </div>
    </div>
  </div>
</div>


<!-- <div class="container">
  <div class="row">
           <div id="custom-search-input">
                            <div class="input-group col-md-12">
                               <form action="/lawyers" method="get">
                                <input type="text" name="city_name" class="  search-query form-control" placeholder="Enter Your City" autofocus/>
                                <span class="input-group-btn">
                                    <button class="btn btn-danger" type= "" type="button">
                                        <span class=" glyphicon glyphicon-search"></span>
                                    </button>
                                </span>
                            </div>
                     </div>
  </div>
</div> -->

