<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml">
<head>
  <meta name="generator" content=
  "HTML Tidy for Linux/x86 (vers 25 March 2009), see www.w3.org" />
  <meta charset="utf-8" />
  <meta http-equiv="X-UA-Compatible" content="IE=edge" />
  <meta name="viewport" content="width=device-width, initial-scale=1" />
 
  <title>Find an Immigration Lawyer</title><!-- Bootstrap -->
  <!-- Latest compiled and minified CSS -->
  <link rel="stylesheet" href=
  "http://netdna.bootstrapcdn.com/bootstrap/3.1.1/css/bootstrap.min.css" type=
  "text/css" /><!-- Optional theme -->
  <link rel="stylesheet" href=
  "http://netdna.bootstrapcdn.com/bootstrap/3.1.1/css/bootstrap-theme.min.css" type=
  "text/css" />
  <link rel="stylesheet" href="stylesheets/styles.css"
   
</head>

  
<body>
  <h1 class="center-text">Find an Immigration Lawyer</h1>
   
  <%= yield %>

<div>
  <br>
  <p class = "center-text"><em>This site is a project by Rachel Glickhouse, an MA student in social journalism at the CUNY Graduate School of Journalism. The list of attorneys was pulled from the <a href="http://www.justice.gov/eoir/free-legal-services-providers" target="blank">Justice Department's PDF listings</a>.</em></p>
</div>


    <!-- jQuery (necessary for Bootstrap's JavaScript plugins) -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js"></script>
    <!-- Include all compiled plugins (below), or include individual files as needed -->
    <script src="js/bootstrap.min.js"></script>
</body>
</html>